{% extends "header.html"%}

<link href='https://fonts.googleapis.com/css?family=Luckiest Guy' rel='stylesheet'>-->
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>-->
{% block content%}
<head>
    <style>
            .white {
        height: 50px;
        width: 100%;
        }
        .background {
        width: 100%;
        }
        .div1 {
        background-color:  #31C48D;
        padding: 10px;
        color: black;
        font-family: 'Montserrat';
        text-align: center;
        }
        .div2 {
        background-color:  #31C48D;
        }

        .waarom {
        padding: 10px;
        }
        a {
        text-decoration: none;
        color: black;
        }
    </style>
</head>
<html>
<body>
<div class="white"></div>

<img class="background" src="../static/background.png" alt="">

<div class="div1"><h1 class="waarom">Waarom Trainings Factory Tiel?</h1>

<h2>&#x2713; professionele begeleiding</h2>
    <h2>&#x2713; Leuke en interactieve trainingen</h2>
    <h2>&#x2713; Diversiteit aan trainingsmogelijkheden</h2>
    <h2>&#x2713; Individuele aandacht</h2>
    <h2>&#x2713; Positieve sfeer</h2>

</div>
{%endblock%}
</body>
</html>
